@model Projects.Models.ProjectModel
@{
    ViewData["Title"] = "Add";
}

@using (Html.BeginForm("Add", "Projects", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="text-center mb-5">
        <h1 class="display-4 mb-5">Add</h1>
        <h2 class="mb-3">Project to add:</h2>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.Title)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.IsPublic)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.IsPublic)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.Language)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.Language)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.About)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.About)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.Description)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.CreatedDate)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.CreatedDate)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-right">
                @Html.LabelFor(m => m.ImageFileName)
            </div>
            <div class="col text-left">
                <input type="file" name="file" class="form-control-file" />
                @Html.ValidationMessageFor(m => m.ImageFileName, "", new { @class = "text-danger" })
            </div>
        </div>

        <input class="btn-primary" type="submit" value="Submit" />

    </div>
}