@model Projects.Models.ProjectModel
@{
    ViewData["Title"] = "Edit";
}

@using (Html.BeginForm("EditProject", "Projects", FormMethod.Post))
{
    <div class="text-center mb-5">
        <h1 class="display-4 mb-5">Edit</h1>
        <h2 class="mb-3">Project to edit:</h2>

        <div>
            @Html.HiddenFor(m => m.Id)
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.ProjectTitle)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.ProjectTitle)
                @Html.ValidationMessageFor(m => m.ProjectTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.PublicProject)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.PublicProject)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.Language)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.Language)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.About)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.About)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.Description)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-right">
                @Html.LabelFor(m => m.CreatedDate)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.CreatedDate)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-right">
                @Html.LabelFor(m => m.ImageName)
            </div>
            <div class="col text-left">
                @Html.EditorFor(m => m.ImageName)
            </div>
        </div>

        <input class="btn-primary" type="submit" value="Submit" />

    </div>
}