@model IEnumerable<Projects.Models.ProjectModel>
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4  mb-5">Projects</h1>
    @foreach (var project in @Model)
    {
        <h3 class="mb-4"><a asp-action="Project" asp-route-projectNum=@project.Id>@project.ProjectTitle</a></h3>
        <div class="profile-img mb-4">
            <img src="@Url.Action("GetImage", "Projects", new { fileName = project.ImageName })" class="img-thumbnail w-75">
        </div>
        <p>@project.About</p>
        <p>Language: @project.Language</p>
        <p class="mb-5">Date Created: @project.CreatedDate?.ToShortDateString()</p>
    }
</div>